root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 120
spaces_around_operators = true
spaces_around_brackets = false
shell_variant = bash
keep_padding = false
space_redirects = false
switch_case_indent = true
function_next_line = false
binary_next_line = true
quote_type = double

# Python
[*.py]
indent_size = 4

# Markdown docs
[*.{md,markdown}]
max_line_length = 100
trim_trailing_whitespace = false

# Lock files
[{bun.lockb,package-lock.json}]
insert_final_newline = true

# Minified files
[*.min.{js,css}]
insert_final_newline = false
