name: Auto minify CSS & JS
on: 
  workflow_dispatch:

jobs:
  minify:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with: {node-version: 22, cache: npm, package-manager-cache: true}

      - name: JS
        run: |
          npx esbuild **/*.js --minify --outdir=dist --bundle
          # OR: npx @swc/cli src -d dist --minify

      # - name: CSS
        # run: |
          # npx lightningcss --minify --bundle src/*.css -o dist/bundle.min.css

      - name: HTML: minify-html
        run: |
          npx @minify-html/node-cli/ **/*.html
      - name: JSON: jq
        run: |
          fd -e json -x sh -c 'jq -c . {} > {.}.min.json'
      
      - name: auto minify files with different engines
        uses: nizarmah/auto-minify@v3
        with:
          js_engine: 'uglify-js'
          css_engine: 'lightning'
          overwrite: true

      - name: auto commit the minified files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "bot: Add auto minified files"
