name: Convert
on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:
jobs:
  Convert:
    name: Convert
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          check-latest: true
          cache: 'npm'
          package-manager-cache: true
      - name: Convert
        run: bash convert.sh
        env:
          repository: ${{ github.repository }}
      - name: Release
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          branch: release
          skip_checkout: true
          skip_dirty_check: true
          push_options: '--force'
          file_pattern: 'release/*'
          commit_message: release
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2.1.0
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 1
